<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRandomizerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57196/RandomizerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRandomizerService"
                contract="RandomizerService.IRandomizerService" name="BasicHttpBinding_IRandomizerService" />
        </client>
    </system.serviceModel>
</configuration>